input.ng-touched.ng-invalid{
  border: 1px red solid;
}

.warnings {
  color: red;
  font-style: italic;
}

.redColor {
  color: red;
}

.ownSpace {
  max-width: 600px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 7px;
  padding: 1rem;
}

hr {
  border-top: 2px solid silver;
}
