.ownSpace {
  max-width: 600px;
  margin: auto;
  border: 2px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
}

input.ng-touched.ng-invalid {
  border: 1px red solid;
}

.showRed {
  color: red;
}

.warnings {
  color: red;
  font-style: italic;
}

hr {
  border-top: 2px solid silver;
}
