<div>
 <div class="my-2"><h4 class="text-center">
   <strong>List of Payments</strong> </h4>
   <p class="text-center">*Click on the field for Payment Detail</p>
  </div>

  <div fxLayoutAlign="center center">
    <mat-form-field fx-flex="80%">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Query" autocomplete="off">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource"
        class="mat-elevation-z8 textSize">

    <!-- Source Account -->
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef> Source </th>
      <td mat-cell *matCellDef="let element">
        {{element.sourceAccountNumber | number}} </td>
    </ng-container>

    <!-- Destination Account -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef> Destination </th>
      <td mat-cell *matCellDef="let element">
        {{element.destinationAccountNumber | number}}
      </td>
    </ng-container>

    <!-- Amount -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element">
        {{element.amount | number}} </td>
    </ng-container>

    <!-- Currency -->
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let element">
        {{element.currencyCode}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="highlight" (click) = "onNavigate(row)"
    *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
